<h5>Welcome to Shape Calculator</h5>
<p><b>Shape Calculator is an Interactive web applictaion. To the right you will find 3 step application. Follow the instructions in each step. Clicking cance will take you back to step 1. Enjoy!</b></p>
<p>A small river named Duden flows by their place and supplies it with the mecessary regelialia. It is paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<p>Even the all-powerful Poinitng has no control about the blind textsit is an almost unorthographic life One day however a small line of blind textby thename of Lorem Ipsum decided to leave for the far World of Grammer. The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>

